.canvas{
    display: block; 
    box-sizing: border-box; 
    height: 100px; width: 234.6px;
}


.prev{
    height: 63vh;
    overflow-y: scroll;

}


.prev::-webkit-scrollbar {
    display: none;

}