/* .dashboard{
    top: 80px;
    position: absolute;
    width: calc(100% - 78px);
    transition: 0.5 ease;
}

.dashboard .head{
    font-size: 25px;
    font-weight: 500;
    color: #b1b1b1;
    height: 70px;
    width: 100%;
    background: #11101d;
} */
.attendaceBar{
    overflow-x: scroll;
}
.attendaceBar::-webkit-scrollbar {
    width: 100px;

}