/* 

.home_content .text{
    z-index: 98;
    font-size: 25px;
    font-weight: 500;
    color: #b1b1b1;
    height: 70px;
    width: 100%;
    position:sticky;
    position: fixed;
    background: #11101d;
}
 */
